@model IEnumerable<PeopleManager.Person>

<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interests)
        </th>
        <th>
            Home Address
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
           <img src="@item.ProfileImageLink" class="img-responsive" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interests)
        </td>
        <td>
           Address 1: @Html.DisplayFor(modelItem => item.HomeAddress.Address1 )<br />
           Address 2: @Html.DisplayFor(modelItem => item.HomeAddress.Address2 )<br />

          @foreach (var litem in item.HomeAddress.Localities)
          {
            @Html.DisplayFor(modelItem => litem.LocalityType)<text>:</text>
            @Html.DisplayFor(modelItem => litem.LocalityName) <br />
          }

          Postal Code: @Html.DisplayFor(modelItem => item.HomeAddress.PostalCode)<br />
           Country: @Html.DisplayFor(modelItem => item.HomeAddress.Country )
        </td>
    </tr>
}

</table>
